<div class="container" style="height: 450px;">
    <h1 mat-dialog-title style="margin-bottom: 0;">Editar Usuario</h1>
    <div class="line"></div>
<form [formGroup]="myForm" (ngSubmit)="editatUsuario()">

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="" formControlName="nombre" (keyup)="createSlugNombre()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('nombre','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput type="text" placeholder="" formControlName="apellido" (keyup)="createSlugApellido()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('apellido','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput type="text" maxlength="9" placeholder="" formControlName="celular" (keyup)="createSlugCelular()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('celular','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput type="email" placeholder="example@gmail.com" formControlName="email" (keyup)="createSlug()"
                    (keyup)="createSlug()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('email','required')">
                        Este campo es obligatorio
                    </ng-container>
                    <ng-container *ngIf="myForm.get('email')">
                        - No es un correo
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <!-- Continue the pattern for other fields -->

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="fill">
                <mat-label>Rol</mat-label>
                <mat-select matInput type="text" formControlName="rol">
                    <mat-option value="ADMINISTRADOR">ADMINISTRADOR</mat-option>
                    <mat-option value="USUARIO">USUARIO</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-6">

            <mat-form-field appearance="fill">
        <mat-label>Distrito</mat-label>
        <mat-select matInput type="number" [(value)]="idDistritoMatSelect" formControlName="distrito.idDistrito" 
        (selectionChange)="onDistritoSeleccionado($event.value)">
          <mat-option *ngFor="let distrito of distritos" [value]="distrito.idDistrito">{{distrito.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput type="text" minlength="10" placeholder="" formControlName="direccion">
                <mat-error>
                    <ng-container *ngIf="controlHasError('direccion','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="text" placeholder="" formControlName="contraseña">
                <mat-error>
                    <ng-container *ngIf="controlHasError('contraseña','required')">
                        Este campo es obligatorio
                    </ng-container>
                    <ng-container *ngIf="controlHasError('contraseña','minLength')">
                        El minimo de caracteres debe 8
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="text text-center">
        <button mat-raised-button style="background-color:#FFBE32; color: white; margin-top: 10px;"
        [disabled]="myForm.invalid" class="col-md-8 col-sm-8">editar</button>
    </div>
</form>
</div>
<ngx-spinner size="medium" type="ball-scale-multiple"></ngx-spinner>