<mat-card>
    <mat-card-content>
        <div>
            <img src="./assets/imagenes/credentials.jpg" style="height: 250px; width: 250px; margin-left: 90px;">
        </div>
        <form [formGroup]="myForm" (ngSubmit)="iniciarSesion()">
            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput type="email" placeholder="example@gmail.com" formControlName="correo"
                    (keyup)="createSlug()">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-error>
                    <ng-container *ngIf="controlHasError('correo','required')">
                        Este campo es obligatorio
                    </ng-container>
                    <ng-container *ngIf="myForm.get('correo')">
                        - No es un correo
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" maxlength="12" placeholder="*********" formControlName="contraseña">
                <mat-icon matSuffix>visibility_off</mat-icon>
                <mat-error>
                    <ng-container *ngIf="controlHasError('contraseña','required')">
                        Este campo es obligatorio
                    </ng-container>
                    <ng-container *ngIf="controlHasError('contraseña','min')">
                        La cantidad de caracteres debe ser mayor a 7
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <div style="margin-left: 45px;">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="captcha">
                </ngx-recaptcha2>
            </div>

            <button mat-raised-button style="background-color:#FF5A5F; color: white; margin-top: 10px;"
                [disabled]="myForm.invalid">Ingresar</button>
        </form>

        <div class="row">
            <div class="col">
                <mat-label>¿Aún no te has registrado? </mat-label>
                <a routerLink="/register" style="color: #3F51B5;">Regístrate aquí</a>
            </div>
        </div>
    </mat-card-content>
</mat-card>