<div class="">
    <ng-container *ngIf="listOrdenes">
      <div class="row">
          <div class="col-md-6 col-sm-4">
            <h1>Lista de usuarios</h1>
          </div>
      </div>
      <table mat-table [dataSource]="listOrdenes">

        <ng-container matColumnDef="idVentaOrden">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let orden"> AU-10{{ orden.idVentaOrden }} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let orden"> {{ orden.estado}} </td>
        </ng-container>

          <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef> Total</th>
              <td mat-cell *matCellDef="let orden"> {{ orden.total}} </td>
          </ng-container>
    
          <ng-container matColumnDef="tipoEntrega">
            <th mat-header-cell *matHeaderCellDef> Tipo Entrada </th>
            <td mat-cell *matCellDef="let orden"> {{ orden.tipoEntrega }} </td>
        </ng-container>

          <ng-container matColumnDef="creadoEn">
              <th mat-header-cell *matHeaderCellDef> F. Creado </th>
              <td mat-cell *matCellDef="let orden"> {{ orden.creadoEn | date:'dd/MM/yyyy h:m a' }} </td>
          </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let orden" class="text-end">
                <button mat-button (click)="modalDetallePedido(orden.idVentaOrden)" color="primary" style="color: #002A69;">
                  ver detalle
              </button>
              
      </ng-container>
    
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
  </div>

