.libro-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd; /* Añadir un borde para separar los ítems */
    margin-bottom: 10px;
  }
  
  .libro-imagen {
    width: 100px;
    height: 135px;
  }
  
  .libro-detalles {
    text-align: center;
  }
  