<mat-card>
    <mat-card-content>
        <!-- <div>
            <img src="./assets/imagenes/credentials.jpg" style="height: 250px; width: 250px; margin-left: 90px;">
        </div> -->
        <div class="text-center">
            <h3>Crear Cuena</h3>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="saveUserHome()">

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="" formControlName="nombre" (keyup)="createSlugNombre()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('nombre','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput type="text" placeholder="" formControlName="apellido" (keyup)="createSlugApellido()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('apellido','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput type="text" maxlength="9" formControlName="celular" (keyup)="createSlugCelular()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('celular','required')">
                        Este campo es obligatorio
                    </ng-container>
                    <ng-container *ngIf="controlHasError('celular','minLength')">
                        El minimo de caracteres debe 9
                    </ng-container>

                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput type="email" placeholder="example@gmail.com" formControlName="email"
                    (keyup)="createSlug()">
                <mat-error>
                    <ng-container *ngIf="controlHasError('email','required')">
                        Este campo es obligatorio
                    </ng-container>
                    <ng-container *ngIf="myForm.get('email')">
                        - No es un correo
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="*********" formControlName="contraseña">
                <mat-error>
                    <ng-container *ngIf="controlHasError('contraseña','required')">
                        Este campo es obligatorio
                    </ng-container>
                    <ng-container *ngIf="controlHasError('contraseña','minLength')">
                        El minimo de caracteres debe 8
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput type="text" placeholder="" formControlName="direccion">
                <mat-error>
                    <ng-container *ngIf="controlHasError('direccion','required')">
                        Este campo es obligatorio
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Distrito</mat-label>
                <mat-select matInput type="number" formControlName="distrito.idDistrito"
                    (selectionChange)="onDistritoSeleccionado($event.value)">
                    <mat-option *ngFor="let distrito of distritos"
                        [value]="distrito.idDistrito">{{distrito.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>



            <!-- <div style="margin-left: 45px;">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="captcha">
                </ngx-recaptcha2>
            </div> -->

            <button mat-raised-button style="background-color:#FF5A5F; color: white; margin-top: 10px;"
                [disabled]="myForm.invalid">Registrar</button>
        </form>

        <div class="row">
            <div class="col" style="margin-left: 40px;">
                <mat-label>¿Ya tienes una cuenta? </mat-label>
                <a routerLink="/login" style="color: #3F51B5;">Inicia Sesión</a>
            </div>
        </div>
    </mat-card-content>
</mat-card>